[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-Script = "*"
Flask-WTF = "*"
requests = "*"
gunicorn = "*"
Flask-DebugToolbar = "*"


[requires]

python_version = "3.6"
