[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-Script = "*"
Flask-Bootstrap = "*"
Flask-WTF = "*"
requests = "*"
gunicorn = "*"


[dev-packages]



[requires]

python_version = "3.6"
