<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Community Directory{% endblock %}</title>
    


    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
    {% endblock %}
  </head>

  {% block navbar %}
  <div class="ui fixed menu">
    <div class="ui container">
      <a href="{{ url_for('.index') }}" class="header item">
        <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}">
        Community Directory
      </a>
      <a href="{{ url_for('.orgs') }}" class="item">Organisation Search</a>
      <a href="{{ url_for('.venues') }}" class="item">Venue Search</a>
    </div>
  </div>
  {% endblock %}

  {% block content %}
  {% block page_content %}{% endblock %}
  {% endblock %}

  {% block scripts %}
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>
  <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>
  {% endblock %}
</html>
